 <div class="user-details">
  <h1> Skills </h1>
  <p> I am always trying to get out of my comfort zone and learning new technologies. </p>
   <p>Below is a list of technologies I have learnt along my Software Development journey so far. </p>
</div>

<div class="user-details">
  <section id="work">

    <div class="card">
      <img src="./logo/cpp.svg" class="imgs">
    </div>
    <div class="card">
      <img src="./logo/css3.svg" class="imgs">
    </div>
    <div class="card">
      <img src="./logo/express.svg" class="imgs">
    </div>
    <div class="card">
      <img src="./logo/html5.svg" class="imgs">
    </div>
    <div class="card">
      <img src="./logo/javascript.svg" class="imgs">
    </div>
    <div class="card">
      <img src="./logo/jquery.svg" class="imgs">
    </div>
    <div class="card">
      <img src="./logo/mongoDB.svg" class="imgs">
    </div>
    <div class="card">
      <img src="./logo/nodejs.svg" class="imgs">
    </div>
    <div class="card">
      <img src="./logo/npm.svg" class="imgs">
    </div>
    <div class="card">
      <img src="./logo/sass.svg" class="imgs">
    </div>
    <div class="card">
      <img src="./logo/python.svg" class="imgs">
    </div>
    <div class="card">
      <img src="./logo/bootstrap.svg" class="imgs">
    </div>
    <div class="card">
      <img src="./logo/swift.svg" class="imgs">
    </div>
    <div class="card">
      <img src="./logo/passport.svg" class="imgs">
    </div>

  </section>

  </div>
