<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/proj1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Entomorrow Foods</h3>
    <ul>
      <li> Web Developer </li>
    </ul>
    <p>Contributed towards creating a responsive website for a research lab at Langara University.
    Used CSS media queries to making the site responsive and improved the load time by 3 seconds.</p>
    <a class="project-link" href="https://entomorrow.github.io/#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/proj2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 3D Tic-Tac-Toe </h3>
    <ul>
      <li> Backend Development</li>
    </ul>
    <p> Built a multiplayer 3D tic-tac-toe using express.js and socket.io.
      Created a complete platform for users to log in and store their personal details using passport.js . </p>
    <a class="project-link" href="https://github.com/VarunRustomji/Tic-tac-toe">Check it out</a>
  </div>
</div>
